# Local testing
output
testing
.coverage
*.retry
*.egg-info
.tox

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Mac
*.DS_Store

# Development environments
.env
env
.venv
venv

# IDE
.vscode
